<h1>This is MOJ Bootstrap</h1>

<p>Now includes <%= link_to('govuk_template', 'https://github.com/alphagov/govuk_template/') %>.</p>
<p>Now includes <%= link_to('govuk_frontend_toolkit', 'https://github.com/alphagov/govuk_frontend_toolkit/') %>.</p>

<div class="grid-row">
  <div class="column-half">
    <p>First half</p>
  </div>
  <div class="column-half">
    <p>Second half</p>
  </div>
</div>

<div class="grid-row">
  <div class="column-third">
    <p>Content</p>
  </div>
  <div class="column-third">
    <p>Content</p>
  </div>
  <div class="column-third">
    <p>Content</p>
  </div>
</div>

<h1 class="heading-xlarge">A <em class="highlight">48px Bold</em> heading</h1>

<h2 class="heading-large">A <em class="highlight">36px Bold</em> heading</h2>

<h3 class="heading-medium">A <em class="highlight">24px Bold</em> heading</h3>

<h4 class="heading-small">A <em class="highlight">19px Bold</em> heading</h4>

<ul class="list-bullets">
  <li>here is a bulleted list</li>
  <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  <li>vestibulum id ligula porta felis euismod semper</li>
  <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
</ul>

<ol class="list-number">
  <li>here is a numbered list</li>
  <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  <li>vestibulum id ligula porta felis euismod semper</li>
  <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
</ol>

<table>
  <thead>
    <tr>
      <th></th>
      <th scope="col">Business Plan</th>
      <th scope="col">Actual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vehicle volumes</td>
      <td>103,672,000</td>
      <td>97,424,000</td>
    </tr>
    <tr>
      <td>Driver volumes</td>
      <td>16,891,000</td>
      <td>15,197,000</td>
    </tr>
    <tr>
     <td>Electronic take-up target</td>
      <td>54%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Electronic take-up (actual)</td>
      <td>-</td>
      <td>50.3%</td>
    </tr>
  </tbody>
</table>

<fieldset class="inline">
  <label class="block-label" for="radio-inline-1">
    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
    Yes
  </label>
  <label class="block-label" for="radio-inline-2">
    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
    No
  </label>
</fieldset>
