<% content_for :head do %>
  <%= stylesheet_link_tag "application", media: "all" %>
<% end %>

<% content_for :body_classes, 'example-highlight-grid' %>

<% content_for :content do %>
  <main id="page-container" role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "application" %>
<% end %>

<%= render template: "layouts/govuk_template" %>
